<section class="section section-testimonials">
    <div class="container">
        <h2 class="section__title h h--3">{{ section.settings.header }}</h2>
        <div class="testimonials-wrap">
            <div class="swiper mySwiper2">
                <div class="swiper-wrapper">

                    {% for block in section.blocks %}
                        {% case block.type %}
                            {% when 'slide' %}
                                <div class="swiper-slide"> 
                                    {% render 'testimonial', 
                                        title: block.settings.title, 
                                        textdata: block.settings.textdata, 
                                        name: block.settings.name 
                                    %} 
                                </div>
                        {% endcase %}
                    {% endfor %}

                </div>
            </div>
            <div class="swiper-pagination2"></div>
        </div>
    </div>
</section>


{% schema %}
{
  "name": "section-testimonials",
  "settings": [
    {
        "type": "text",
        "id": "header",
        "label": "Header"
    }
  ],
  "blocks": [
    {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "text",
           "id": "title",
           "label": "Title",
           "default": "Walking on Sunshine"
         },
         {
            "type": "textarea",
            "id": "textdata",
            "label": "Text",
            "default": "“These little softgels have helped boost my mood and keep me in a positive head space during all the chaos of everyone coming back to work since covid. I suffer from anxiety and depression and this has helped”"
         },
         {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "Amber"
          }
       ]
    }
  ],
  "default": {
    "settings": {
      "header": "Slideshow"
    },
    "blocks": [
      {
        "type": "slide"
      },
      {
        "type": "slide"
      }
    ]
  }
}
{% endschema %}




