<section class="section section-products">
    <div class="container">
        {{ section.settings.header }}
        <h2 class="section__title h h--2"></h2>
        <p class="section__subtitle p">Whether you need a daily pick-me up or a little sleep support, our products are
            developed with the end goal in mind. Optimally-dosed, highly bioavailable formulas means you can see and
            feel results that set you on a path to better health.</p>
        <div class="products-wrap">

            <div class="swiper mySwiper">
                <div class="swiper-wrapper">

                    {% for product in collections.frontpage.products %}
                        <div class="swiper-slide">
                            {% render 'product-card', product: product %}
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="section-products__btn">
            <a href="#" class="btn section-products__btn">See All Products</a>
        </div>
    </div>
</section>


{% schema %}
{
  "name": "section-products",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header"
    }
  ],
  "default": {
    "settings": {
      "header": "Have you had your daily dose of vit today?"
    }
  }
}
{% endschema %}