<section class="section section-testimonials">
    <div class="container">
        <h2 class="section__title h h--3">Why People Love Us</h2>
        <div class="testimonials-wrap">
            <div class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        {% render 'testimonial' %}
                    </div>
                    <div class="swiper-slide">
                        {% render 'testimonial' %}
                    </div>
                    <div class="swiper-slide">
                        {% render 'testimonial' %}
                    </div>
                </div>
            </div>
            <div class="swiper-pagination2"></div>
        </div>
    </div>
</section>