<section class="section section-testimonials">
    <div class="container">
        <h2 class="section__title h h--3">{{ section.settings.header }}</h2>
        <div class="testimonials-wrap">
            <div class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        {% case block.type %}
                        {% when 'slide' %}
                            <div class="swiper-slide"> 
                                {% render 'testimonial', 
                                    title: block.settings.title, 
                                    textdata: block.settings.textdata, 
                                    name: block.settings.name,
                                    image: block.settings.image,
                                    product: block.settings.product 
                                %} 
                            </div>
                        {% endcase %}
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-pagination2"></div>
        </div>
    </div>
</section>


{% if request.design_mode %}
  <!-- This will only render in the theme editor -->
    <script>
        console.log("recalc slider");
        document.addEventListener('shopify:block:select', function(event) {
            console.log("select");
        });

        document.addEventListener('shopify:block:deselect', function(event) {
            console.log("select");
        });
    </script>
  
{% endif %}


{% schema %}
{
  "name": "section-testimonials",
  "settings": [
    {
        "type": "text",
        "id": "header",
        "label": "Header",
        "default": "Why People Love Us"
    }
  ],
  "blocks": [
    {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "text",
           "id": "title",
           "label": "Title",
           "default": "Walking on Sunshine"
         },
         {
            "type": "textarea",
            "id": "textdata",
            "label": "Text",
            "default": "“These little softgels have helped boost my mood and keep me in a positive head space during all the chaos of everyone coming back to work since covid. I suffer from anxiety and depression and this has helped”"
         },
         {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "Amber"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Logo image"
          },
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
       ]
    }
  ]
}
{% endschema %}




