<section class="section section-products">
    <div class="container">
        <h2 class="section__title h h--2">{{ section.settings.header }}</h2>
        <p class="section__subtitle p">{{ section.settings.subtitle }}</p>
        <div class="products-wrap">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    {% for product in collections.frontpage.products %}
                        <div class="swiper-slide">
                            {% render 'product-card', product: product %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="section-products__btn">
            <a href="#" class="btn section-products__btn">{{ section.settings.buttontext }}</a>
        </div>
    </div>
</section>


{% schema %}
{
  "name": "section-products",
  "settings": [
    {
        "type": "text",
        "id": "header",
        "label": "Header",
        "default": "Have you had your daily dose of vit today?"
    },
    {
        "type": "textarea",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Whether you need a daily pick-me up or a little sleep support, our products are developed with the end goal in mind. Optimally-dosed, highly bioavailable formulas means you can see and feel results that set you on a path to better health."
    },
    {
        "type": "text",
        "id": "buttontext",
        "label": "Button",
        "default": "See All Products"
    }
  ]
}
{% endschema %}